Repository Matthias-Zax/training-demo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/team-all, @github/test-engineers, @github/devop-engineers

todo file; ruleset
  .github/rulesets/branch-protection.json
  TODO.md
Owners: @github/team-all

add branch protection ruleset
  .github/rulesets/branch-protection.json
Owners: @github/team-all

Update api-test.yml
  .github/workflows/api-test.yml
Owners: @github/team-all, @github/test-engineers, @github/devop-engineers

Update sonarqube.yml
  .github/workflows/sonarqube.yml
Owners: @github/devop-engineers

Update ci.yml
  .github/workflows/ci.yml
Owners: @github/devop-engineers

fix checkstyle
  .github/workflows/checkstyle.yml
  config/checkstyle/checkstyle.xml
Owners: @github/devop-engineers, @github/team-all

Update api-test.yml
  .github/workflows/api-test.yml
Owners: @github/team-all, @github/test-engineers, @github/devop-engineers

fixes
  .github/workflows/checkstyle.yml
  config/checkstyle/checkstyle.xml
Owners: @github/devop-engineers, @github/team-all

Update sonarqube.yml
  .github/workflows/sonarqube.yml
Owners: @github/devop-engineers

Update ci.yml
  .github/workflows/ci.yml
Owners: @github/devop-engineers

run versino
  build.gradle
Owners: @github/team-all

Add issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Owners: @github/team-all

Add security policy
  .github/SECURITY.md
Owners: @github/team-all

.github/CODEOWNERS:

# This is a CODEOWNERS file to define individuals or teams responsible for code in this repository
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repository
# unless a later match takes precedence
*       @github/team-all

# Backend code owners
/src/main/java/com/rbinternational/goit_demo_app/controller/    @github/team-all
/src/main/java/com/rbinternational/goit_demo_app/service/       @github/team-all
/src/main/java/com/rbinternational/goit_demo_app/repository/    @github/team-all
/src/main/java/com/rbinternational/goit_demo_app/model/         @github/team-all

# Frontend code owners
/src/main/resources/templates/    @github/team-all
/src/main/resources/static/       @github/team-all

# Test code owners
/src/test/                        @github/team-all

# API Test owners (Bruno tests)
# More specific patterns for Bruno tests
/bruno/                                  @github/team-all
/bruno/collections/                      @github/test-engineers
/bruno/collections/book-api/             @github/test-engineers
/bruno/collections/book-api/*.bru        @github/test-engineers
/bruno/environments/                     @github/test-engineers

# CI/CD workflow owners
/.github/workflows/                      @github/team-all @github/devop-engineers
/.github/workflows/api-test.yml          @github/team-all @github/test-engineers @github/devop-engineers
/.github/workflows/ci.yml                @github/devop-engineers
/.github/workflows/checkstyle.yml        @github/devop-engineers
/.github/workflows/codeql-analysis.yml   @github/devop-engineers
/.github/workflows/sonarqube.yml         @github/devop-engineers

# Build configuration owners
/build.gradle                     @github/team-all
/settings.gradle                  @github/team-all
/gradle/                          @github/team-all

# Documentation owners
/README.md                        @github/team-all
/LICENSE                          @github/team-all
